logs/
.idea/
*.iml
#ddsl-core/lib_managed
#ddsl-core/src_managed
ddsl-core/project/boot
#ddsl-core/project/build/target
#ddsl-core/project/plugins/lib_managed
#ddsl-core/project/plugins/src_managed
#ddsl-core/project/plugins/target
#ddsl-core/target

#examples/ddsl-scala-examples/lib_managed
#examples/ddsl-scala-examples/src_managed
examples/ddsl-scala-examples/project/boot
#examples/ddsl-scala-examples/project/build/target
#examples/ddsl-scala-examples/project/plugins/lib_managed
#examples/ddsl-scala-examples/project/plugins/src_managed
#examples/ddsl-scala-examples/project/plugins/target
#examples/ddsl-scala-examples/target
#examples/ddsl-scala-examples/out

ddsl-webcontainer-auto/project/boot


ddsl.log
ddsl.log.*
out

project/boot
lib_managed
src_managed

target

ddsl-cmdline-tool.log
ddsl-cmdline-tool.log.*
